body{
 background-color:black;
}

.titulo{
 display: flex;
 justify-content: center;
}

.foto{
  height: 300px;
  width: 300px;
border-radius: 50px 0px 50px 0px;
border:solid #feff53 ;
margin-left: 50px;
margin-top:25px ;
}

.main{
  display: flex;
  justify-content: center;
  color:#feff53;
  font-family:cursive;
  text-align:center;
  position: absolute;
  top: 15px;
  left: 550px;
  border:solid #9d6913 5px;
  font-size: 45px;
}
#saludo{
 color: white;
 font-size: 25px;
 margin-left: 3%;
}
h2{
  padding-left: 50px;
  color:#f68207;
  display: flex;
  justify-content: space-evenly;
font-size: 32px;
  }
.encabezado{
 display: flex;
 flex-direction: row;
 top: 30px;
}
.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  #search-input{
   border-radius: 10px;
  width: 200px;
  height:35px;
  background-color: rgb(185, 195, 191);
  border: solid white 3px;
  }
  #search-input::placeholder{
   color: black;
  }
  #search-button{
 background-color: #fc7d00;
 width: 65px;
 height: 35px;
 border-radius:0 30px 0 30px ;
  }
  #search-button:hover{
  cursor: pointer;
  }
a  {
  display: flex;
font-size: 30px; 
font-family: cursive;
color: #abcb42;
padding-left: 70px;

}
.parrafo{
  color: white;
  display: flex;
  justify-content: center;
 text-align:justify;
 padding: 0px 50px 50px 50px;
 font-size: 22px;
 font-family:cursive;
}

.search-container{
  justify-content: end;
  order: 3;
  margin-top: 35px;
  margin-left: -250px;
  margin-bottom: 200px;
}

.emergente{
  position: fixed;
  
  left: 790px;
  top: 50%;
  transform: translate(-50%, -50%);
 border: solid #323254 3px;
 width: 68%;
 height: 300px;
 z-index: 1000;
 background-color:#b8b5ba;
 border-radius: 20px ;
 
}
.close{
  cursor: pointer;
  float: right;
  font-size: 30px;
  color:black;
  font-weight: bold;
}

#curso1{
  width: 200px;
  height: 220px;
  border-radius: 10px;
}
#textoemergente{
width: 550px;
    margin-left: 450px;
    color: white;
    margin-top: -240px;
    height: 200px;
}


.fotosPlatos{
 display: flex;
 width: 250px;
 height: 250px;
 padding-left: 50px;
 justify-content:flex-start;
 margin-left: 50px;
 margin-right: 50px;

}
#plato1, #plato2, #plato3, #plato4{
 padding-left: 30px;
 
}

#insta{
  width: 65px;
  border-radius: 55px;
  cursor: pointer;
  }
  .verde{
    width: 65px;
    border-radius: 100px;
    cursor: pointer;
  }
  #linke{
  
    width: 65px;
    border-radius: 55px;
    cursor: pointer;
  }
  .Botones{
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  padding-left: 50px;
  
  }

  #parrafoemergente{
    display: flex;
   
  
  }
  
 .fototexto{
  display: flex;
}
 

