body{
 background-color: black;
}
.titulo{
 display: flex;
 justify-content: space-evenly;
}
h1{

text-align: center;
color: #feff53;
border: solid #9d6913 5px;
margin-left: 200px;
margin-right: 200px;
padding: 0 10px 0 10px;

}
a{
 color: black;
 font-size: 20px;
 text-decoration: none;
}
.menu{
 display: flex;
 flex-direction:column;
flex-wrap: wrap;
margin-top: 50px;
 
}
a:hover{
  color:white;
}

.imagen{
display: flex;
justify-content: end;
align-items: flex-start;
height: 600px;
margin: 80px;


}
#espec{
 align-items: flex-start;
 border-top-right-radius: 500px;
 border-bottom-left-radius: 500px;
 border: solid #9d6913 6px;
}
.todo{
display: flex;
justify-content: space-around;

}
.menu{
    display: flex;
background-color:#9d6913;
flex-wrap: wrap;
border: solid #feff53 3px;
border-radius: 10px 10px 10px 10px;

}
